<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ExeLocation" value=""/>
		<add key="EncryptionType" value="fake"/> <!--values is one of ()-->
		<add key="EncryptionMechanizm" value=""/> <!--values is one of ()-->
		<add key="TableDetails" value=""/> <!--Example: [databaseName].[schema].[tableName]-->
		<add key="UpdateCondition" value=""/> <!--Example: WHERE Column = Value. Leave empty if no condition-->
	</appSettings>
	<connectionStrings>
		<add name="SqlServer" connectionString=""/>
	</connectionStrings>
</configuration>